<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="/img/img.png" rel="icon" type="image/x-icon" />
  <title>
    baim.wtf
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="/core/jquery.min.js"></script>
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/forum.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/session.css">
  <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body scroll="no" style="overflow: hidden" class="">
  <div id="preloader">
    <div id="status"></div>
  </div>
  <script>
    $(window).on('load', function () { 
      $('#status').fadeOut(); 
      $('#preloader').delay(350).fadeOut('slow'); 
      $('body').delay(350).css({ 'overflow': 'visible' });
    })
  </script>
  <span id='variableJSON' hidden>
    <%= JSON.stringify(user); %>
  </span>
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="./dashboard" class="simple-text logo-mini">
            I
          </a>
          <a href="./dashboard" class="simple-text logo-normal">
           LoremIpsum
          </a>
        </div>
        <%-include("nav.ejs")%>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand d-flex justify-content-center align-items-center gap"  href="/"><span class="material-symbols-sharp">
            account_balance
            </span>
              Dashboard</a>
          </div>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
              </li>
              <li class="dropdown nav-item">

              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="/img/img.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Cerrar Sesión
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="/user" class="nav-item dropdown-item">Perfil</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="/logout" class="nav-item dropdown-item">Cerrar Sesión</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="row">
          <div class="col-md-12 d-flex flex-column align-items-center">
            <div class="card">
              <div class="card-header">
                  <h1 class="card-title">Bienvenido <b><%= user.name %></b></h1>
                  <div class="row py-3">
                    <div class="col-md-3   text-center">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Balance:</h5>
                        <%if(!plan){%>
                          <h4><%= user.invertido.toLocaleString('es', {useGrouping:true, minimumFractionDigits: 2,  maximumFractionDigits: 2})%> USD</h4>
                          <%}else{%>
                        <h4><%= (user.plan.invested*plan.comodidad).toLocaleString('es', {useGrouping:true, minimumFractionDigits: 2,  maximumFractionDigits: 2}) %> USD</h4>
                        <%}%>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Ganancia acumulada:</h5>
                        <%if(!plan){%>
                          <h4>0 USD</h4>
                          <%}else{%>
                            <h4><%= ((user.plan.invested*plan.comodidad)-user.invertido).toLocaleString('es', {useGrouping:true, minimumFractionDigits: 2,  maximumFractionDigits: 2}) %> USD</h4>
                        <%}%>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Invertido:</h5>
                        <h4><%= user.invertido.toLocaleString('es', {useGrouping:true, minimumFractionDigits: 2,  maximumFractionDigits: 2})%> USD</h4>
                      </div>
                    </div>
                    <div class="col-md-3 text-center">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Plan:</h5>
                        <% if(user.plan.name){ %>
                          <h4 class="<%=user.plan.name.toLowerCase()%>">
                            <%=user.plan.name%>
                          </h4>
                        <%}else{%>
                          <h4>
                            Ninguno
                          </h4>
                        <%}%>
                      </div>
                    </div>
                    <div class="col-md-6 my-3">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Porcentaje de retorno</h5>
                        <%try{%>
                          <h4><%= (((user.plan.invested*plan.comodidad-user.invertido)/user.invertido)*100).toFixed() %>%</h4>
                        <%}catch(err){%>
                          <h4>0%</h4>
                          <%}%>
                      </div>
                    </div>
                    <div class="col-md-6 my-3">
                      <div class="card m-0 card-upgrade btn btn-defailt btn-block animation-on-hover card-header">
                        <h5>Rendimiento del Plan Diario</h5>
                        <%if(!plan){%>
                          <h4>0%</h4>
                          <%}else{%>
                            <h4><%= plan.planDiario%></h4>
                        <%}%>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 ml-auto mr-auto row">
            <!-- <div class="col-md-8">
              <div class="card h-75 input-box ml-auto mr-auto card-upgrade p-2">
                <h4 class="text-center">Tu enlace de referido</h4>
                <div class="d-flex contenedor-input-referido justify-content-center">
                  <input type="text" id="linkReferido" class="form-control input-referido text-center" readonly value="<%= user.linkReferido%>">
                  <a href='javascript:copyLink()' class="btn btn-default btn-block animation-on-hover">Copiar</a>                
                </div>
              </div>
            </div> -->
            <div class="mx-auto col-md-6">
              <%- include("fondo-input.ejs")%>
            </div>
            <div class="mx-auto col-md-6">
              <%- include("retirar-fondo-input.ejs")%>
            </div>
              <h1>Selecciona uno de nuestros planes de inversion</h1>
              <%- include("plans.ejs")%>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">

          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>  Universidad Jose Antonio Paéz  </i>
             
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
    </div>
  </div>

  <script src="/core/jquery.min.js"></script>
  <script src="/core/popper.min.js"></script>
  <script src="/core/bootstrap.min.js"></script>
  <script src="/plugins/perfect-scrollbar.jquery.min.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/plugins/bootstrap-notify.js"></script>
  <script src="/js/black-dashboard.min.js?v=1.0.0"></script>
  <script src="/js/fade.js"></script>




  <script>
    function copyLink(){
      $("#linkReferido").focus()
      $("#linkReferido").select()
          document.execCommand('copy');
      
    }
    $(document).ready(function () {
      
      $().ready(function () {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();


        $('.fixed-plugin a').click(function (event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }

        });

        $('.light-badge').click(function () {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function () {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>

</body>
<script>
  $(window).on("load", function () {
    $(".body").fadeOut(100000);
  });
</script>

</html>